local _env = {}

_env = {
    name = 'local',

    appid = "10001",

    appsecret = "1QP8z5iRghxxxxxxxxxxxxxxFeuw2eRNOIhXW077F",

    api_domain = "http://gowaf.com",

    project_dir = "/Users/dong/develop/", -- 项目根目录上一级

    config_log_dir = "/Users/dong/develop/logs/waf", -- 日志目录

    debug = true, -- 是否开启调试模式

    -- share缓存配置，共享字典数据库名称，如果同一服务器上有多套环境，可以通过该配置来区分缓存
    -- limit和settings需要跟nginx配置lua_shared_dict一致
    config_share_dict = {
        prefix = "local", -- 缓存前缀
        limit = "gowaflimit", -- 用户限制数据
        settings = "gowafsettings" -- 后台配置数据
    },

    -- 云点aos数据库配置
    config_gowaf_mysql = {
        host = "127.0.0.1",
        port = 3306,
        user = "",
        password = "",
        database = "gowaf_dev",
        pool_size = 10
    },

    -- 需要检查的api路径
    config_gowaf_uri_prefix_to_check = {
        '/api/', '/mall-api/', '/game-api/', '/ugc-api/'
    },

    -- if config_waf_output ,setting url
    config_waf_redirect_url = "",
    config_output_html = [[
        {"code":"110110","msg":"参与人数较多，请稍后再试","data":""}
        ]],

    config_output_html_2 = [[
        {"code":"110110","msg":"访问过于频繁，请稍后再试","data":""}
        ]],

    config_output_html_3 = [[
        {"code":"110110","msg":"网络连接异常","data":""}
        ]],

    config_output_html_4 = [[
        {"code":"110110","msg":"人数较多，请稍后再试","data":""}
        ]],

    config_output_html_5 = [[
        {"code":"110110","msg":"当前访问人较多，请稍后再试","data":""}
        ]],

    config_output_html_6 = [[
        {"code":"110110","msg":"您的操作包含潜在风险，已被自动阻断。","data":""}
        ]]
}
return _env
